<a href="https://colab.research.google.com/github/123franklin321/cienciasdedados/blob/master/C%C3%B3pia_de_DBeaver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT 
COUNT(o.order_id) qtd_pedido, 
c.customer_city AS  cidade
FROM olist_orders_dataset AS o
JOIN olist_customers_dataset AS c
ON c.custumer_id = o.customer_id
GROUP BY c.customer_city
ORDER BY  qtd_pedido DESC
LIMIT 10;





SELECT
    p.product_category_name AS categoria,
    COUNT(o.order_id) AS qtd_pedido
FROM olist_products_dataset AS p
JOIN olist_order_items_dataset AS oi
ON p.product_id = oi.product_id
JOIN olist_orders_dataset AS o
ON oi.order_id = o.order_id
JOIN olist_order_payments_dataset AS op 
ON oi.order_id = op.order_id
WHERE op.payment_type = 'credit_card'
GROUP BY p.product_category_name
ORDER BY qtd_pedido DESC 
LIMIT 10;


SELECT
    COUNT(c.custumer_id) cidade,
    p.payment_value AS valor
FROM olist_customers_dataset AS c
JOIN olist_order_payments_dataset AS p 
ON c.customer_city = p.payment_value
GROUP BY p.payment_value 
ORDER BY cidade DESC 
LIMIT 10;


SELECT
    COUNT(o.order_id) AS vendas,
    ve.seller_id AS vendedor
FROM olist_order_items_dataset AS o
JOIN olist_sellers_dataset AS ve
ON o.seller_id = ve.seller_id 
GROUP BY ve.seller_id 
ORDER BY vendedor DESC  
LIMIT 10;

SELECT
    COUNT(c.product_category_name) AS categoria,
    f.freight_value AS frete
FROM olist_products_dataset AS c
JOIN olist_order_items_dataset AS f 
ON c.product_id = f.product_id 
JOIN olist_orders_dataset AS p 
ON f.order_id = p.order_id 
JOIN olist_order_payments_dataset AS op 
ON c.product_id = op.order_id 
WHERE f.freight_value = 'pior frete'
GROUP BY f.freight_value 
ORDER BY categoria ASC 
LIMIT 10;

relação de tabelas feita consulta no olist