<a href="https://colab.research.google.com/github/123franklin321/cienciasdedados/blob/master/Manipulando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [22]:
df_products = pd.read_csv('product_category_name_translation.csv')
df_products

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [23]:
df_products.replace({'moveis_decoracao': 'moveis'})

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                          moveis               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [24]:
df_products.replace({'product_category_name':{'moveis_decoracao': 'moveis'}})

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                          moveis               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [25]:
df_products['product_category_name'].str.capitalize()

0                      Beleza_saude
1            Informatica_acessorios
2                        Automotivo
3                   Cama_mesa_banho
4                  Moveis_decoracao
                  ...
66                           Flores
67               Artes_e_artesanato
68                  Fraldas_higiene
69    Fashion_roupa_infanto_juvenil
70               Seguros_e_servicos
Name: product_category_name, Length: 71, dtype: object

In [26]:
lista_categorias = ['telefonia', 'eletroportateis', 'eletrodomesticos', 'eletrodomesticos_2', 'eletronicos']
df_products['grupo'] = df_products['product_category_name'].apply(lambda x : 'A' if x in lista_categorias else 'B')
df_products.sort_values(by='grupo')

          product_category_name product_category_name_english grupo
18              eletroportateis              small_appliances     A
33             eletrodomesticos               home_appliances     A
32                  eletronicos                   electronics     A
56           eletrodomesticos_2             home_appliances_2     A
8                     telefonia                     telephony     A
..                          ...                           ...   ...
30            moveis_escritorio              office_furniture     B
31                 market_place                  market_place     B
34            artigos_de_festas                party_supplies     B
17  fashion_bolsas_e_acessorios      fashion_bags_accessories     B
70           seguros_e_servicos         security_and_services     B

[71 rows x 3 columns]

In [30]:
df_products = pd.read_csv('olist_products_dataset.csv')
df_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [31]:
df_products['product_photos_qty']

0        1.0
1        1.0
2        1.0
3        1.0
4        4.0
        ...
32946    2.0
32947    1.0
32948    1.0
32949    2.0
32950    1.0
Name: product_photos_qty, Length: 32951, dtype: float64

In [32]:
df_products['product_photos_qty_int'] = df_products['product_photos_qty'].fillna(-1).astype(int)
df_products['product_photos_qty_int']

0        1
1        1
2        1
3        1
4        4
        ..
32946    2
32947    1
32948    1
32949    2
32950    1
Name: product_photos_qty_int, Length: 32951, dtype: int64