<a href="https://colab.research.google.com/github/123franklin321/cienciasdedados/blob/master/Monitoramento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas && openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
/bin/bash: openpyxl: command not found

In [2]:
import pandas as pd

In [3]:
carros = {
    'marca':['Fiat', 'Chevrolet', 'Fors'],
    'modelo':['Marea', 'Chevette', 'Escort'],
    'ano':['1999', '1978', '1995'],
}

dataframe = pd.DataFrame(carros)
dataframe.to_excel('./carros.xlsx')

In [7]:
dataframe

       marca    modelo   ano
0       Fiat     Marea  1999
1  Chevrolet  Chevette  1978
2       Fors    Escort  1995

In [9]:
import requests
from time import sleep
from datetime import datetime

In [ ]:
def get_match_data():
    return requests.get(
        url='https://temporeal.lance.com.br/storage/matches/copa-do-mundo-2022-27-11-2022-espanhaxalemanha.json'
    ).json()

last_update = None
while True:
    match_data = get_match_data()

    narrations = match_data['match']['narrations']
    last_narration = narrations[len(narrations)-1]
    last_narration_time = datetime.strptime(last_narration['created_at'], '%Y-%m-%dT%H:%M:%S.000000Z')

    if (not last_update) or (last_narration_time > last_update):
        last_update = last_narration_time
        last_narration_moment = narrations[len(narrations)-1]['moment']
        last_narration_text = narrations[len(narrations)-1]['text']
        print(f'.\n.\n.\n{last_narration_moment}" - {last_narration_text}')

sleep(30)

.
.
.
51" - FIM DE JOGO. Alemanha pressionou no final, teve dois escanteio, uma jogada perigosa com Sané, mas não conseguiu a virada. Tudo igual no clássico.