<a href="https://colab.research.google.com/github/123franklin321/meu_primeiro_codigo.py/blob/master/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nomes = ['ana', 'bruno', 'joao', 'maria']
print(nomes, type(nomes), len(nomes))

['ana', 'bruno', 'joao', 'maria'] <class 'list'> 4

In [ ]:
'bruno' in nomes

True

In [ ]:
'carlos' in nomes

False

In [ ]:
nome = 'ana'

if nome in nomes: 
    print(f'{nome} esta na lista')

ana esta na lista

nome = 'ana'

print('inicio')

if nome in nomes:
    print(f'{nome} esta na lista')

print('fim')

In [ ]:
nome = 'clarice'

print('inicio')

if nome in nomes: 
    print(f'{nome} esta na lista')
else:
    print(f'{nome} não esta na lista')

print('fim')

inicio
clarice não esta na lista
fim

In [ ]:
x = 100
print('inicio')

if (x % 2) == 0:  
    print('x e um numero par')
elif x > 50:
    print('x não e par e é maior que 50')
else: 
    print('x e impar e menor do que 50')

print('fim')

inicio
x e um numero par
fim

In [ ]:
x = 51
print('inicio')

if (x % 2) == 0:  
    print('x e um numero par')
elif x > 50:
    print('x não e par e é maior que 50')
else: 
    print('x e impar e menor do que 50')

print('fim')

inicio
x não e par e é maior que 50
fim

In [ ]:
x = 49
print('inicio')

if (x % 2) == 0:  
    print('x e um numero par')
elif x > 50:
    print('x não e par e é maior que 50')
else: 
    print('x e impar e menor do que 50')

print('fim')

inicio
x e impar e menor do que 50
fim

In [ ]:
100 == 100

True

In [ ]:
100 <= 99

False

In [ ]:
100 > 100

False

In [ ]:
if 'a' :
    print('string nao esta vazia')

string nao esta vazia

In [ ]:
if not []:
    print('esta vazia')

esta vazia

In [ ]:
if not None: 
    print('e None')

e None