<a href="https://colab.research.google.com/github/123franklin321/cienciasdedados/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('train.csv', index_col= 'PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
sob_total = df['Survived'].mean()
print('{:.2%}'.format(sob_total), 'do total de passageiros sobreviveu')

38.38% do total de passageiros sobreviveu

In [10]:
sex_total = df.groupby('Sex')['Name'].count()/len(df)
print('{:.2%}'.format(sex_total['male']), 'de passageiros eram homens')
print('{:.2%}'.format(sex_total['female']), 'de passageiros eram mulheres')

64.76% de passageiros eram homens
35.24% de passageiros eram mulheres

In [11]:
dist_sob = df.loc[df['Survived']==1].groupby('Sex')['Survived'].count()/len(df.loc[df['Survived']==1])
print('{:.2%}'.format(dist_sob['male']), 'dos passageiros que sobreviveram eram homens')
print('{:.2%}'.format(dist_sob['female']), 'dos passageiros que sobreviveram eram mulheres')

31.87% dos passageiros que sobreviveram eram homens
68.13% dos passageiros que sobreviveram eram mulheres

In [12]:
p_combinada = pd.crosstab([df['Sex'],df['Pclass']],df['Survived'])/len(df)
p_combinada

Survived              0         1
Sex    Pclass
female 1       0.003367  0.102132
       2       0.006734  0.078563
       3       0.080808  0.080808
male   1       0.086420  0.050505
       2       0.102132  0.019080
       3       0.336700  0.052750

In [15]:
df['Name'][1]

'Braund, Mr. Owen Harris'

In [16]:
df['Titulo'] = df.Name.str.split('.').str.get(0).str.split(', ').str.get(1)

In [17]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titulo
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [18]:
df.groupby(['Titulo', 'Pclass'])['Age'].median()

Titulo        Pclass
Capt          1         70.0
Col           1         58.0
Don           1         40.0
Dr            1         46.5
              2         38.5
Jonkheer      1         38.0
Lady          1         48.0
Major         1         48.5
Master        1          4.0
              2          1.0
              3          4.0
Miss          1         30.0
              2         24.0
              3         18.0
Mlle          1         24.0
Mme           1         24.0
Mr            1         40.0
              2         31.0
              3         26.0
Mrs           1         41.5
              2         32.0
              3         31.0
Ms            2         28.0
Rev           2         46.5
Sir           1         49.0
the Countess  1         33.0
Name: Age, dtype: float64

In [19]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
df_fill = df.groupby(['Titulo', 'Pclass'])['Age'].transform('median')
df_fill

PassengerId
1      26.0
2      41.5
3      18.0
4      41.5
5      26.0
       ...
887    46.5
888    30.0
889    18.0
890    40.0
891    26.0
Name: Age, Length: 891, dtype: float64

In [21]:
df['Age'] = df['Age'].fillna(df_fill)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titulo
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,18.0,1,2,W./C. 6607,23.4500,NaN,S,Miss
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [22]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.146655    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.499426    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   26.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   36.750000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [23]:
df['Age'].isnull().any()

False

In [24]:
df.drop('Titulo', axis=1,inplace=True)

In [25]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S